@(student: Student, studentForm: Form[Student], editMode: Boolean = false)

@import helper._
@import bootstrap3._
@import models.ItuetUser; var user = CurrentUser.get();
@import java.lang.Boolean; var readonly = false; var studentMode = (user!=null) && (user.student!=null); var adminMode =(user!=null) && (user.isAdmin);

@main("Học viên") {
<h1>Học viên @studentForm("name").valueOr("mới")
    @if((studentMode || adminMode) && !editMode) {
    <a href="@routes.Students.edit(student)"><span class="glyphicon glyphicon-edit"></span></a>
    }</h1>
<div class="well">
    @form(action = CSRF(routes.Students.save()), 'class -> "form-horizontal") {
    <input type="hidden" value="@studentForm("id").valueOr("")" name="id"/>
    <fieldset>
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href="#home">Thông tin cơ bản</a></li>
                <li><a data-toggle="pill" href="#menu1">Liên lạc</a></li>
                <li><a data-toggle="pill" href="#menu2">Thông tin bổ sung</a></li>
                <li><a data-toggle="pill" href="#menu3">Luận văn</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h3>  </h3>
                    @{readonly = !(editMode && adminMode)}
                    @text(studentForm("number"), label = "Mã học viên", readonly = readonly)
                    @text(studentForm("name"), label = "Họ tên", readonly = readonly)
                    @date(studentForm("birthDate"), label = "Ngày sinh", readonly = readonly)
                    @bootstrap3.select(studentForm("gender"), label = "Giới tính", optionMap = Student.genderOptions, readonly =
                    readonly)
                    @text(studentForm("batch"), label = "Khóa", readonly = readonly)
                    @text(studentForm("dot"), label = "Đợt", readonly = readonly)
                    @bootstrap3.select(studentForm("major"), label = "Chuyên ngành", optionMap = Student.majorOptions, readonly =
                    readonly)

                </div>
                <div id="menu1" class="tab-pane fade">
                    <h3>  </h3>
                    @{readonly = !(editMode)}
                    @text(studentForm("email"), label = "Email", readonly = readonly)
                    @text(studentForm("phone"), label = "Điện thoại", readonly = readonly)
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>  </h3>
                    @{readonly = !(editMode)}
                    @text(studentForm("birthPlace"), label = "Nơi sinh", readonly = readonly)
                    @text(studentForm("ethnic"), label = "Dân tộc", readonly = readonly)
                    @text(studentForm("religion"), label = "Tôn giáo", readonly = readonly)
                    @text(studentForm("dtut"), label = "ĐTUT", readonly = readonly)
                    @text(studentForm("dtdt"), label = "ĐTĐT", readonly = readonly)
                    @text(studentForm("doan"), label = "Ngày vào Đoàn", readonly = readonly)
                    @text(studentForm("dang"), label = "Ngày vào Đảng", readonly = readonly)
                    @bootstrap3.textarea(studentForm("notes"), label = "Ghi chú", readonly = readonly)
                </div>
                <div id="menu3" class="tab-pane fade">
                    <h3>  </h3>
                    @{readonly = !(editMode && adminMode)}
                    @bootstrap3.textarea(studentForm("thesisTitle"), label = "Tên đề tài luận văn", readonly = readonly)
                    @bootstrap3.select(studentForm("advisor.id"), label = "Giáo viên hướng dẫn", optionMap = Faculty.options,
                    readonly = readonly)
                    @bootstrap3.select(studentForm("coAdvisor.id"), label = "Giáo viên đồng hướng dẫn", optionMap = Faculty.options,
                    readonly = readonly)
                    @bootstrap3.select(studentForm("status"), label = "Tình trạng", optionMap = Student.statusOptions, readonly =
                    readonly)
                    
                    @if(student != null) {
                        @if(student.latestSeminar != null) {
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Xê-mi-na</label>
                                <div class="col-sm-10"><a href="@routes.Seminars.details(student.latestSeminar)">@formatDate(student.latestSeminar.date)</a></div>
                            </div>
                        }
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nhận xét</label>
                            <div class="col-sm-10">
                                <p>Fields MUST have at least package (default) visibility. That means no private, protected or static fields can be annotated with Arg. The generated Builder class is in the same package as the Fragment is. Therefore it needs at least package visibility to access the annotated fields.
                                </p>
                            </div>
                        </div>
                    }
                </div>
        </div>
    </fieldset>
    
    @if(editMode) {   @submitAndCancel()  }

    }
</div>

}
