@(currentPage: com.avaje.ebean.Page[Student])

@import bootstrap3.formatDate;

@main("Student list") {
<h2>All Students</h2>

<div id="pagination" class="pagination">
    @if(currentPage.hasPrev) {
    <li>
        <a href="@routes.Students.list(currentPage.getPageIndex - 1)">&larr;</a>
    </li>
    } else {
    <li class="disabled"><a>&larr;</a></li>
    }
    <li class="active"><a>@currentPage.getDisplayXtoYofZ(" - ", " / ")</a></li>
    @if(currentPage.hasNext) {
    <li>
        <a href="@routes.Students.list(currentPage.getPageIndex + 1)">&rarr;</a>
    </li>
    } else {
    <li class="disabled"><a>&rarr;</a></li>
    }
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Mã học viên</th>
        <th>Họ và tên</th>
        <th>Nơi sinh</th>
        <th>Ngày sinh</th>
        <th></th>
    </tr>
    </thead>
    <tbody>    @for(student <- currentPage.getList()) {
    <tr>
        <td><a href="@routes.Students.details(student)">
            @student.number
        </a>
        </td>
        <td><a href="@routes.Students.details(student)">
            @student.name</a>
        </td>
        <td><a href="@routes.Students.details(student)">
            @student.birthPlace</a>
        </td>
        <td>@formatDate(student.birthDate)</td>
        <td>
            <a href="@routes.Students.edit(student)">
                <span class="glyphicon glyphicon-edit"></span></a>
            <a onclick="javascript : del ( ' @routes.Students.delete(student.number) ')">
                <span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
    }
    </tbody>
</table>

<a href="@routes.Students.newStudent()" class="btn btn-primary">
    Tạo mới
</a>

}