@(students: List[Student])

@import java.lang.Integer; var i=0;
@import bootstrap3.formatDate;

<table class="table table-striped">
    <thead>
    <tr>
        <th>STT</th>
        <th>Mã học viên</th>
        <th>Họ và tên</th>
        <th>Khóa</th>
        <th>Ngành</th>
        <th>Ngày sinh</th>
        <th>Đề tài</th>
    </tr>
    </thead>
    <tbody>    @for(student <- students) {
    @{i += 1}
    <tr>
        <td>@i</td>
        <td><a href="@routes.Students.details(student)">@student.number</a></td>
        <td><a href="@routes.Students.details(student)">@student.name</a></td>
        <td><a href="@routes.Students.details(student)">@student.batch</a></td>
        <td><a href="@routes.Students.details(student)">@student.major</a></td>
        <td><a href="@routes.Students.details(student)">@formatDate(student.birthDate)</a></td>
        <td><a href="@routes.Students.details(student)">@student.thesisTitle</a></td>
    </tr>
    }
    </tbody>
</table>