@(faculty: Faculty, facultyForm: Form[Faculty], readonly: Boolean)

@import helper._
@import bootstrap3._

@main("Hồ sơ cán bộ") {
<h1>@if(faculty!=null) {@faculty.namePlus} else {Hồ sơ cán bộ}</h1>

<div class="well">

    @form(action = CSRF(routes.Faculties.save()), 'class -> "form-horizontal") {
    <input type="hidden" value="@facultyForm("id").valueOr("")" name="id"/>
    <fieldset>
        <!-- Header -->
        <div id="legend">
            <legend>Thông tin cơ bản
            @if(readonly) {
            <a href="@routes.Faculties.edit(faculty)">
                <span class="glyphicon glyphicon-edit"></span></a>
            }
            </legend>
        </div>

        @bootstrap3.select(facultyForm("hh"), label = "Học hàm", optionMap = Faculty.hhOptions, isMultiple = false, readonly = readonly)
        @bootstrap3.select(facultyForm("hv"), label = "Học vị", optionMap = Faculty.hvOptions, isMultiple = false, readonly = readonly)
        @text(facultyForm("name"), label = "Họ tên", readonly = readonly)
        @text(facultyForm("workPlace"), label = "Nơi công tác", readonly = readonly)
        @text(facultyForm("email"), label = "Email", readonly = readonly)
        @text(facultyForm("phone"), label = "Điện thoại", readonly = readonly)

        @if(!readonly) {   @submitAndCancel()  }
    </fieldset>
    }
</div>

@if(faculty!=null) {
    <legend>Hướng dẫn</legend>
    @students.simple_list(faculty.advisedMasterStudents)

    <legend>Đồng hướng dẫn</legend>
    @students.simple_list(faculty.coAdvisedMasterStudents)
}

}
