@(currentPage: com.avaje.ebean.Page[Faculty])

@main("Cán bộ") {
<h2>Danh sách cán bộ</h2>

<div id="pagination" class="pagination">
    @if(currentPage.hasPrev) {
    <li>
        <a href="@routes.Faculties.list(currentPage.getPageIndex - 1)">&larr;</a>
    </li>
    } else {
    <li class="disabled"><a>&larr;</a></li>
    }
    <li class="active"><a>@currentPage.getDisplayXtoYofZ(" - ", " / ")</a></li>
    @if(currentPage.hasNext) {
    <li>
        <a href="@routes.Faculties.list(currentPage.getPageIndex + 1)">&rarr;</a>
    </li>
    } else {
    <li class="disabled"><a>&rarr;</a></li>
    }
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Họ và tên</th>
        <th>Nơi công tác</th>
        <th>Điện thoại</th>
        <th>Email</th>
        <th>HV</th>
        <th></th>
    </tr>
    </thead>
    <tbody>    @for(faculty <- currentPage.getList()) {
    <tr>
        <td><a href="@routes.Faculties.details(faculty)">
            @faculty.namePlus
        </a>
        </td>
        <td><a href="@routes.Faculties.details(faculty)">
            @faculty.workPlace</a>
        </td>
        <td><a href="@routes.Faculties.details(faculty)">
            @faculty.phone</a>
        </td>
        <td><a href="@routes.Faculties.details(faculty)">
            @faculty.email</a>
        </td>
        <td><a href="@routes.Faculties.details(faculty)">
            @faculty.studentCount</a>
        </td>
        <td>
            <a href="@routes.Faculties.edit(faculty)">
                <span class="glyphicon glyphicon-edit"></span></a>
            <a onclick="javascript : del ( ' @routes.Faculties.delete(faculty.id) ')">
                <span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
    }
    </tbody>
</table>

<a href="@routes.Faculties.newFaculty()" class="btn btn-primary">
    Tạo mới
</a>

}