@(loginForm: play.api.data.Form[(String,String)], errorMsg: Option[String] = None, request: play.api.mvc.RequestHeader, env: securesocial.core.RuntimeEnvironment[_])

@import securesocial.core.providers.UsernamePasswordProvider.UsernamePassword

@views.html.custom.main("Đăng nhập", env) {
<div class="page-header">
    <h1>Đăng nhập hệ thống</h1>
</div>

@errorMsg.map { msg =>
<div class="alert alert-error">
    @Messages(msg)
</div>
}


@defining( env.providers.values.filter( _.id != UsernamePassword) ) { externalProviders =>

@if( externalProviders.size > 0 ) {
<div class="clearfix">
    <p>Hãy đăng nhập bằng tài khoản sẵn có mà bạn đã đăng kí</p>

    <p>
        @for(p <- externalProviders) {
        @views.html.custom.provider(p.id, request, None, env)
        }
    </p>
</div>
}


}
}