@()(implicit request: play.api.mvc.RequestHeader, env: securesocial.core.RuntimeEnvironment[_])
@views.html.custom.main("Đăng nhập", env) {
    <div class="page-header">
        <h1>Không đủ thẩm quyền</h1>
    </div>

    <div class="alert alert-error">
        Bạn không có quyền thực hiện chức năng này. Hãy liên lạc với văn phòng Khoa để có thêm thông tin.
    </div>
}