@(field: Field, label: String = "CHANGEME", placeholder: String = "", help: String = "", readonly: Boolean=false)

<div class="form-group @if(field.hasErrors) {has-error}">
    <label class="col-sm-2 control-label">@label</label>
    <div class="col-sm-10">
        <input
               class="form-control@if(!readonly) { needsDatepicker}"
               id="@field.id"
               name="@field.name"
               value="@field.value.getOrElse("")"
        placeholder="@placeholder"
        @if(readonly) {readonly="readonly"}/>
        <span class="help-block">@help</span>
        <span class="help-block">@{field.error.map { error => error.message }}</span>
    </div>
</div>
