@(seminar: Seminar, seminarForm: Form[Seminar], adminMode: Boolean = false, editMode: Boolean = false)

@import helper._
@import bootstrap3._

@main("Xê-mi-na") {

<div class="well">
    @form(action = CSRF(routes.Seminars.save()), 'class -> "form-horizontal") {
    <input type="hidden" value="@seminarForm("id").valueOr("")" name="id"/>
    <fieldset>
        <!-- Header -->
        <div id="legend">
            <legend>@if(seminar!=null) {Xê-mi-na: @seminar.description} else {Xê-mi-na mới}
            @if(adminMode && !editMode) {
            <a href="@routes.Seminars.edit(seminar)">
                <span class="glyphicon glyphicon-edit"></span></a>
            }
            </legend>
        </div>

        @text(seminarForm("description"), label = "Nội dung", readonly = !editMode)
        @date(seminarForm("date"), label = "Ngày tổ chức", readonly = !editMode)
		@date(seminarForm("openDate"), label = "Mở đăng ký", readonly = !editMode)
		@date(seminarForm("closedDate"), label = "Hạn đăng ký", readonly = !editMode)
        @if(editMode) {   @submitAndCancel()  }
    </fieldset>
    }
</div>

@if(seminar!=null) {
    @if(adminMode) {

<a href="@routes.Seminars.requestConfirmations(seminar.id)" class="btn btn-primary">
    Gửi yêu cầu duyệt đăng ký
</a>
        <h3></h3>
    }
    <legend>Danh sách học viên đăng ký</legend>
    @registrationList(seminar.students)
}

}
