@(seminars: List[Seminar], student: Student, editable: Boolean = false)

@import bootstrap3._

@main("Xê-mi-na") {
<h1>Danh sách xê-mi-na</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Ngày</th>
        <th>Nội dung</th>
        <th>Mở đăng ký</th>
        <th>Hạn đăng ký</th>
        <th>Số học viên</th>
        <th></th>
    </tr>
    </thead>
    <tbody>    
    @for(seminar <- seminars) {
    <tr>
        <td><a href="@routes.Seminars.details(seminar)">@formatDate(seminar.date)</a></td>
        <td><a href="@routes.Seminars.details(seminar)">@seminar.description</a></td>
        <td><a href="@routes.Seminars.details(seminar)">@formatDate(seminar.openDate)</a></td>
        <td><a href="@routes.Seminars.details(seminar)">@formatDate(seminar.closedDate)</a></td>
        <td><a href="@routes.Seminars.details(seminar)">@seminar.studentCount</a></td>
        <td>
        @if(editable) {
            <a href="@routes.Seminars.edit(seminar)">
                <span class="glyphicon glyphicon-edit"></span></a>
            <a onclick="javascript : del ( ' @routes.Seminars.delete(seminar.id) ')">
                <span class="glyphicon glyphicon-trash"></span></a>
        }
        @if(student != null) {
            @if(student.latestSeminar == seminar) {
                <a href="@routes.Seminars.unregister(student.id)">Hủy đăng ký</a>
            } else {
                <a href="@routes.Seminars.register(seminar.id,student.id)">Đăng ký</a>            
            }
        }
        </td>
    </tr>
    }
    </tbody>
</table>
@if(editable) {
<a href="@routes.Seminars.newSeminar()" class="btn btn-primary">
    Tạo mới
</a>
}
}