@(students: List[Student])

@import java.lang.Integer; var i=0;
@import bootstrap3.formatDate;

<table class="table table-striped">
    <thead>
    <tr>
        <th>STT</th>
        <th>Họ và tên</th>
        <th>Khóa</th>
        <th>Ngành</th>
        <th>Đề tài</th>
        <th>GVHD duyệt</th>
    </tr>
    </thead>
    <tbody>    @for(student <- students) {
    @{i += 1}
    <tr>
        <td>@i</td>
        <td><a href="@routes.Students.details(student)">@student.name</a></td>
        <td><a href="@routes.Students.details(student)">@student.batch</a></td>
        <td><a href="@routes.Students.details(student)">@student.major</a></td>
        <td><a href="@routes.Students.details(student)">@student.thesisTitle</a></td>
        <td>
            @if(student.seminarConfirmationCode==null) {<span class="glyphicon glyphicon-ok"></span>} else {<span class="glyphicon glyphicon-minus"></span>}
           </td>
    </tr>
    }
    </tbody>
</table>