@(form: Form[Application.UploadImageForm], listImages: List[Image])

@import helper._

@main("Play! Framework :: store and load BLOBs") {

<div>
    <h1>Upload a new image:</h1>
    @helper.form(action = CSRF(routes.Application.uploadImage()), 'enctype -> "multipart/form-data") {
    <input type="file" class="" accept=".jpg, .png, .bmp" name="image">
    <button type="submit">Upload image!</button>
    }
</div>

<div>
    <h1>Images in Database:</h1>
    @for(image <- listImages) {
    <h3>@image.name</h3>
    <a href="@routes.Application.getImage(image.id)" target="blank">
        <img src="@routes.Application.getImage(image.id)">
    </a>
    }
</div>
}