@()
@import models.ItuetUser; var user = CurrentUser.get();

<nav class="navbar navbar-inverse " id="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="@routes.Application.index()">
                        Quản lý luận văn cao học</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="@routes.Application.index()">Home</a></li>
                @if(user != null) {
                    @if(user.isAdmin || user.faculty!=null) {
                    <li><a href="@routes.Students.list()">Danh sách học viên</a></li>
                    }
                    @if(user.student!=null) {
                    <li><a href="@routes.Students.details(user.student)">Hồ sơ học viên</a></li>
                    }
                    <li><a href="@routes.Faculties.list()">Cán bộ</a></li>
                    <li><a href="@routes.Seminars.list()">Xê-mi-na</a></li>
                }

                <li><a href="">Contact</a></li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
            @if(user == null) {
                <li><a href="/auth/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            } else {
                <li><a href="">@user.email</a></li>
                <li><a href="/auth/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            }
            </ul>
        </div>
    </div>
</nav>