@()
<div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
               <button id="submit" type="submit" value="Submit" class="btn btn-primary">Lưu</button>
              <button id="cancel" class="btn cancel" onclick="javascript:history.back()">Hủy</button>
           </div>
</div>