@import helper._
@(elements: helper.FieldElements)

<div class="form-group @if(elements.hasErrors) {error}">
    @if(elements.label.toString.nonEmpty) {
       <label class="col-sm-8 control-label" for="@elements.id">@elements.label</label>
    }
    <div class="col-sm-10">
        @elements.input

        <p class="help-inline">@elements.infos.mkString(", ")</p>

        @if(elements.hasErrors) { <p class="help-block">@elements.errors.mkString(", ")</p> }
    </div>
</div>